/* Custom CSS for MuscleLib API Documentation */
:root {
    --primary-color: #0dcaf0;
    --secondary-color: #8f8f8f;
    --background-color: rgba(255, 255, 255, 0.05);
    --hover-background-color: rgba(255, 255, 255, 0.1);
    --font-family: 'Segoe UI', system-ui, -apple-system, sans-serif;
}

body {
    font-family: var(--font-family)!important;
    color: #fff!important;
}

.container {
    padding: 8em 2em 0 2em;
    text-align: center;
}

h1 {
    font-size: 3.125rem;
    font-weight: 700;
}

p {
    font-size: 1.125rem;
    line-height: 1.6;
}

.lead {
    margin: 2em auto;
    max-width: 800px;
}

.grid {
    display: grid;
    font-size: 2rem;
}

span {
    color: var(--secondary-color);
    font-size: 1.25rem;
}

.feature-box {
    background: var(--background-color);
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    transition: background 0.3s ease, transform 0.3s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.feature-box:hover {
    background: var(--hover-background-color);
    transform: translateY(-5px);
}

.feature-box i {
    font-size: 2rem;
    color: var(--primary-color);
}

footer {
    background: rgba(0, 0, 0, 0.8)!important;
    padding: 2em 0;
    text-align: center;
    margin-top: 4em;
}

footer a {
    color: #fff;
    text-decoration: none;
    margin: 0 0.5em;
}

footer a:hover {
    color: var(--primary-color);
}

/* Estilo personalizado para o scrollbar */
.modal-body::-webkit-scrollbar {
    width: 8px;
}

.modal-body::-webkit-scrollbar-track {
    background: #272727;
    border-radius: 4px;
}

.modal-body::-webkit-scrollbar-thumb {
    background: var(--primary-color);
    border-radius: 4px;
}

/* Estilo para o modal */
.modal-content {
    border-radius: 12px;
}

.modal-header {
    background-color: #000;
    border-bottom: 1px solid #0f0f0f!important;
    color: #0dcaf0;
}

.modal-body {
    background-color: #000;
    max-height: 60vh;
    overflow-y: auto;
}

.modal-footer {
    background-color: #000!important;
    border-top: 1px solid #0f0f0f!important;
}

/* Responsividade */
@media (max-width: 768px) {
    .container {
        padding: 5em 1em 0 1em;
    }

    h1 {
        font-size: 2.5rem;
    }

    .lead {
        margin: 20px;
    }

    .grid {
        font-size: 1.5rem;
    }

    span {
        font-size: 1rem;
    }

    .feature-box {
        padding: 15px;
    }
}